html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#canvas {
    display: block;
    width: 100%;
    height: 100%;
}

#container {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 210px;
}

.operator {
    width: 200px;
    height: 94px;
    background-color: transparent;
    border: none;
}

#btnStart {
    background-image: url("../../static/assets/images/open.png");
}

#btnWin {
    background-image: url("../../static/assets/images/ron.png");
}

#btnDraw {
    background-image: url("../../static/assets/images/draw.png");
}

#btnSkip {
    background-image: url("../../static/assets/images/skip.png");
}

#btnZimo {
    background-image: url("../../static/assets/images/zimo.png");
}

.nodisplay {
    display: none;
}

.float {
    float: left;
}

#container2 {
    width: 100%;
    height: 100px;
    margin: auto;
    position: absolute;
    bottom: 200px;
    right: 20px;
}

#container3 {
    width: 100%;
    height: 100px;
    margin:auto;
    position: absolute;
    bottom: 200px;
    right: 20px;
}